@using Tatil_Seyahat_Sitesi.Models.Class
@model List<Blog>

<div class="padding">
    <h4>En Pöpüler 10 Blog</h4>
    <ul class="list list-pad">
        @{ int i = 0;} 
        @foreach (var x in Model)
        {
           
                <li class="list-bg"><span>@{i++; } @i.</span><a href="/Blog/BlogDetay/@x.ID">@x.bASLİK</a></li>
            

        }

    </ul>
    <a href="/Blog" class="link1">Tüm Blogları Görüntüle</a>
</div>
