@using Tatil_Seyahat_Sitesi.Models.Class
@model List<Blog>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Blog Listesi</h2>
<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Baslik</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Detaylar</th>

    </tr>

    @foreach (var x in Model)
    {
<tr>
    <td>@x.ID</td>
    <td>@x.bASLİK</td>
    <td><a href="/Admin/BlogSil/@x.ID" class="btn btn-danger">Sil</a></td>
    <td><a href="/Admin/BlogGetir/@x.ID" class="btn btn-info">Güncelle</a></td>
    <td><a href="" class="btn btn-default">Detaylar</a></td>
</tr>
    }

</table>
<a href="/Admin/Yeniblog"class="btn btn-warning">Yeni Blog Ekle</a>

