
@{
    Layout = null;
}

<!DOCTYPE html>

<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<html>

<head>
    <title> Master login Form Responsive Widget Template  :: w3layouts</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content=" Master  Login Form Widget Tab Form,Login Forms,Sign up Forms,Registration Forms,News letter Forms,Elements" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href="~/weblogin Tema/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="//fonts.googleapis.com/css?family=Cormorant+SC:300,400,500,600,700" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
</head>

<body>
    <div class="padding-all">
        <div class="header">
            <h1>Tatil Seyahat Blogu Giriş Formu</h1>
        </div>

        <div class="design-w3l">
            <div class="mail-form-agile">
                @using (Html.BeginForm("GirisYap", "Girisyap", FormMethod.Post))
                {


                    <input type="text" name="Kullanici_Adi" placeholder="Kullanıcı Adı" required="" />
                    <input type="password" name="Sifre" class="padding" placeholder="Şifre" required="" />
                    <input type="submit" value="Giriş Yap">
                }
            </div>
            <div class="clear"> </div>
        </div>

        <div class="footer">
            <p>© 2021  Master  Login form. Tüm Hakları Saklıdır . | Design by  <a href="https://w3layouts.com/">  w3layouts </a></p>
        </div>
    </div>
</body>
</html>
