@using Tatil_Seyahat_Sitesi.Models.Class
@model List<Hakkımızda>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<div class="content">
    <div class="wrap">
        <div class="about">
            <h3>Hakkımızda</h3>
            @foreach (var x in Model)
            {
                <img src="@x.Fotourl" alt="" />


                <p>@x.Aciklama</p>

            }

        </div>
    </div>
</div>



